.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  max-width: 240px;
}

.btnSidebar {
  display: flex;
  max-width: 204px;
  width: 100%;
  height: var(--heightHeader-item);
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 0 12px;

  &.active {
    background-color: rgba(0, 0, 0, 0.05);

    .icon {
      display: none;
    }

    .title {
      font-weight: 500;
    }

    .active-icon {
      display: flex;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.btnSidebarMini {
  display: flex;
  flex-direction: column;
  width: 6.4rem;
  height: 7.4rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 16px 0 14px;

  &.active {
    .icon {
      display: none;
    }

    .active-icon {
      display: flex;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

a:hover {
  opacity: unset;
}

.title {
  width: 132px;
  margin-left: 24px;
  font-size: 1.4rem;
  line-height: 2rem;
}

.titleMini {
  max-width: 100%;
  display: block;
  max-height: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.icon {
  display: flex;
}

.active-icon {
  display: none;
}

.icon,
.active-icon {
  width: 2.4rem;
  height: 2.4rem;
}
