@import 'normalize.css';

:root {
  --primary: #fe2c55;
  --black: #000;
  --white: #fff;
  --text-color: #161823;
  --heightHeader: 56px;
  --heightHeader-item: 40px;
  --size-item-default: 24px;
  --heightHeader-text: 34px;
  --heightContent-table: 36px;
  --size-icon-dropdown: 24px;
  --color-icon: #030303;
  --color-signin: #065fd4;
  --color-avatar: #7a1fa2;
  --color-brandIcon-sup: #606060;
  --font-family: 'ProximaNova', sans-serif;

  // Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizespeed;
  color: var(--text-color);
  overflow-y: scroll;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a,
a:hover {
  color: var(--text-color);
  text-decoration: none;
}

.content {
  display: flex;
  flex: 1;
  margin: 0 16px;
}

.logo-login {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  padding: 16px;
}

.card-validate {
  max-width: 350px;
  margin-top: var(--heightHeader);
  flex-basis: 350px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

  .card-title {
    padding-bottom: 1rem;
  }
}

.cardYoutube {
  border: none;
  overflow: hidden;
  border-radius: 0;

  .card-img-top {
    border-radius: 12px;
  }

  .card-img-top:hover {
    border-radius: 0;
  }
}

.form-group {
  .btn {
    width: 100%;
  }
}

.backgroud-overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
  animation: bgm-show linear 0.5s;
}

@keyframes bgm-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.check-overlay:checked ~ .alert,
.check-overlay:checked ~ .backgroud-overlay {
  display: none;
}

.alert.alert-success.message {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-bottom: 0;
  transform: translate(-50%, -100%);
  z-index: 4;
}

.mgr5 {
  margin-right: 24px;
}

.style-title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  max-height: 4.4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: normal;
}

body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    background-color: rgba(84, 84, 84, 0.92);
  }

  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }

  .tippy-content {
    padding: 8px 9px;
  }

  .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
  }
}
