.channelContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 16px;
  margin-top: var(--heightHeader);
  margin-bottom: 32px;

  --avatar: 128px;
}

.channelHeader {
  display: flex;
  height: 158px;
  flex: 1;
  padding: 16px;
  background-color: transparent;
}

.avatarEditor {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5.6rem;
  color: var(--white);
  width: var(--avatar);
  height: var(--avatar);
  background-color: var(--color-avatar);
  border-radius: 50%;
}

.innerHeader {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 16px;
}

.innerHeader-meta {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 150px;

}

.innerHeader-btn {
  display: inline-block;

  .show-bg-icon {
    width: fit-content;
    height: 36px;
    padding: 0 16px;
    border-radius: 18px;
    border: none;
    background-color: #f2f2f2;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

@media only screen and (max-width: 35.3125em) {
  .innerHeader-btn {
    display: flex;
    flex-direction: column;

    .show-bg-icon:first-child {
      margin-bottom: 8px;
    }
  }

  .innerHeader {

    .show-bg-icon:first-child {
      height: fit-content;
    }
  }
}