.container {
  display: flex;
  padding: 0 12px;
  margin-top: var(--heightHeader);

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: -2px 16px 8px;
  }
}

@media only screen and (max-width: 46.1875em) {
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}

// 1115px
@media only screen and (max-width: 69.6875em) {
  
}
